@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* -- Page Content -- */
#page {
  margin-top: 70px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.text {
  display: inline-block;
  font-size: 80%;
}

.desc {
  width: 55%;
}

.tut {
  width: 30%;
  float: right;
}


/* API CONTENT */

.api-content {
  position: relative;
}

.error-text {
  color: crimson
}

/*EARTHQUAKE PAGE MAP*/
#map {
  height: 500px;
  width: 100%;
}

#options {
  padding: 5px 0;
  height: auto;
}

.geochart {
  margin-left: 100px;
}

#chart_wrap {
  border: 1px solid gray;
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
}

#chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  width: 100%;
  min-height: 10%;
  height: 80px !important;
  background-color: #33ccff;
  color: white;
}

@media screen and (max-width: 300px) {
  .modal-header {
    min-height: 30%;
  }
}

@media screen and (max-width: 650px) and (min-width: 401px) {
  .modal-header {
    min-height: 20%;
  }
}

@media screen and (max-width: 650px) and (min-width: 300px) {
  .modal-header {
    min-height: 25%;
  }
}

.modal-body {
  padding: 2px 16px;
  overflow: auto;
}

/* Columns */
.Lcolumn {
  float: right;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.Lrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .Lcolumn {
    width: 100%;
  }
}